<p-tabView class="main-container">
    <!-- file upload -->
    <p-tabPanel header="Upload File" class="main-panel">
        <p-fileUpload name="myname" url="" (uploadHandler)="startUpload($event)"
       [multiple]="true" [customUpload]="true" accept="image/*"
        [maxFileSize]="maxSizeOfFile" #uploader (onUpload)="clearInput()">
            <ng-template pTemplate="content">
                <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                </ul>
            </ng-template>
        </p-fileUpload>
    </p-tabPanel>
    <!-- file view -->
    <p-tabPanel header="File Viewer" *ngIf="file_items.length > 0" class="main-panel">
        <ng-template pTemplate="content">
            <div class="img-viewer">
                <div *ngFor="let item of images" class="img-file">
                    <p-image [src]="item" [preview]="true" width="300"></p-image>
                </div>
            </div>
        </ng-template>
    </p-tabPanel>
</p-tabView>