.main-container {
    width: 100%;
    height: auto;
}
.main-panel {
    max-height: 1200px;
    height: 100%;
}
.fileimage {
    width: 100%;
    max-width: 1200px;
}
p-tabPanel {
    height: 450px;
    overflow: hidden;
}
p-carousel {
    height: 1200px;
}
p-image {
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow: auto;
}