.main-container {
    width: 100%;
    height: auto;
}
.main-panel {
    max-height: 1200px;
    height: 100%;
}

p-tabPanel {
    height: 450px;
    overflow: hidden;
}
.img-viewer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
p-image {
    width: 100%;
    height: 100%;
    max-width: 100%;
}