<p-tabView class="main-container">
    <!-- file upload -->
    <p-tabPanel header="Upload File" >
        <p-fileUpload [multiple]="true" accept="image/*, video/*" [maxFileSize]="maxSizeOfFile"
        (onUpload)="onUpload($event)" >
            <ng-template pTemplate="content">
                <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">
                        <input type="text" formControlName="ket" id="ket" pInputText />
                        <div>
                            {{ file.name }} - {{ file.size }} bytes
                        </div>
                        <p-progressBar [value]="file.progress" [style]="{height: '6px', marginTop:'10px'}"></p-progressBar>
                    </li>
                </ul>
            </ng-template>
        </p-fileUpload>
    </p-tabPanel>
    <!-- file view -->
    <p-tabPanel header="File Viewer" *ngIf="file_items.length > 0">
        <!-- <p-carousel [value]="images" [numVisible]="3" [numScroll]="1" [circular]="false" [responsiveOptions]="responsiveOptions"> -->
            <div *ngFor="let item of images">
                <p-image [src]="item" [preview]="true" width="300"></p-image>
            </div>
        <!-- </p-carousel> -->
    </p-tabPanel>
</p-tabView>