<form [formGroup]="doc">
    <div class="group-one">
        <h3>Data Dokumen</h3>
        <p-toast position="top-left" [life]="2000"></p-toast>
        <div class="input1 inputHeader">
            <label for="dok_number" class="headerLabel">Nomor Dokumen</label>
            <input pInputText pKeyFilter="int" placeholder="Nomor Dokumen (angka)" formControlName="dok_number"
            style="text-align: end;" id="dok_number" class="headerInput">
        </div>
        <div class="input2 inputHeader">
            <label for="dok_date" class="headerLabel">Tanggal Dokumen</label>
            <p-calendar placeholder="Tanggal Dokumen (angka)" inputId="dok_date" formControlName="dok_date"
            dateFormat="dd-mm-yy" [showButtonBar]="true" class="headerInput"></p-calendar>
        </div>
        <div class="input3 inputHeader">
            <label for="dok_name" class="headerLabel">Perusahaan</label>
            <input pInputText placeholder="PT. XXX" formControlName="dok_name" id="dok_name" class="headerInput">
        </div>
        <div class="input4 inputHeader" *ngIf="headerIsEdited">
            <p-button [loading]="headeriswaiting" label="Simpan{{ isEdit ? ' Perubahan' : ''}}" (click)="submitHeader()"></p-button>
            <p-button label="Batal Ubah" (click)="revertHeader()" severity="danger"></p-button>
        </div>
    </div>
    <div class="group-two">
        <p-button type="button" icon="pi pi-plus" styleClass="p-button-text" (click)="newItem()"></p-button>
        <form class="mini" formArrayName="dok_item">
            <h3>Rincian item</h3>
            <ng-container *ngFor="let item of dok_item.controls; let i = index" >
                <div class="item" [formGroupName]="i" [ngClass]="blinkElem(i)">
                    <!-- item-title -->
                    <p-divider align="left" type="solid" class="item-title"><b>Item {{ i + 1 }}</b></p-divider>
                    <!-- item-label-kode -->
                        <label for="{{ 'item_kode' + i }}" class="item-label-kode">Nomor item</label>
                    <!-- item-input-kode -->
                        <input pInputText placeholder="cth:item 1" formControlName="item_kode" [id]="'item_kode' + i "
                        style="text-align: end;" class="item-input-kode"/>
                    <!-- item-label-catatan -->
                        <label for="{{ 'item_catatan' + i }}" class="item-label-catatan">Catatan tambahan</label>
                    <!-- item-input-catatan -->
                        <textarea pInputTextarea rows="3" cols="30" placeholder="warna ungu dan kuning" formControlName="item_catatan"
                        [id]=" 'item_catatan' + i" class="item-input-catatan"></textarea>
                    <!-- item-label-uraian -->
                        <label for="{{ 'item_uraian' + i }}" class="item-label-uraian">Uraian Barang</label>
                    <!-- item-input-uraian -->
                        <textarea pInputTextarea rows="7" cols="30" placeholder="kayu berbentuk kotak" formControlName="item_uraian"
                        [id]=" 'item_uraian' + i" class="item-input-uraian"></textarea>
                        <!-- Opsional tombol save -->
                        <ng-container *ngIf="isFormGroupChanged(i)">
                            <p-confirmDialog></p-confirmDialog>
                            <div class="button-item">
                                <p-button label="{{grouphasId(i) ? 'Simpan Perubahan' : 'Tambah Item'}}" class="button-action"
                                [loading]="bodyIsWaiting" (click)="submitItem(i)" icon="pi pi-check"></p-button>
                                <p-button label="Batal Ubah Detil" (click)="revertItem(i)" class="button-action"
                                severity="warning" icon="pi pi-history"></p-button>
                                <p-button label="Delete ae wes" (click)="confirmDelete($event, i)" class="button-action"
                                severity="danger" icon="pi pi-times" *ngIf="grouphasId(i)"></p-button>
                            </div>
                        </ng-container>
                        <!-- <div class="filess" *ngFor="let file of getitem_files(i).controls; let j = index">
                            daftar file {{ j }}
                            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text" (click)="newFiles(i)"></p-button>
                        </div> -->
                </div>
            </ng-container>
        </form>
    </div>
</form>

<div class="card bg-light mb-3">
    <div class="card-header">Form Debug Info</div>
    <div class="card-body">
      <div class="card-text">
        <div><strong>Form value: doc</strong></div>
        <div class="help-block">
            {{ doc.value | json }}
        </div>
        <div class="mt-2"><strong>Form status:</strong></div>
        <div class="help-block">
            {{ doc.status | json }}
        </div>
      </div>
    </div>
  </div>