.group-one {
    display: grid;
    grid-template-areas:
    "header"
    "input-1"
    "input-2"
    "input-3"
    "input-4";
    row-gap: 4px;
}
.inputHeader {
    display: grid;
    grid-template-columns: [line1] 10px [line2] 150px [line3] 5px [line4] 270px [line5] 10px;
    grid-template-rows: repeat(1fr);
}
.headerLabel {
    grid-column: 2 / span 3;
    grid-row: 1 / span 2;
    align-self: center;
}
.headerInput {
    grid-column: 4 / 5;
    grid-row: 1 / span 2;
}
.input1 {
    grid-area: input-1;
    display: inline-grid;
}
.input2 {
    grid-area: input-2;
}
.input3 {
    grid-area: input-3;
}
.input4 {
    grid-area: input-4;
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    column-gap: 8px;
}
.group-two {
    display: grid;
    grid-template-columns: 1fr;
}

.item {
    display: grid;
    grid-template-columns: repeat(50px);
    column-gap: 10px;
    grid-template-rows: repeat(50px);
    row-gap: 4px;
    grid-template-areas:
    "item-title"
    "item-label-kode item-input-kode item-label-catatan item-input-catatan"
    "item-label-uraian item-input-uraian";
}
.item-title {
    grid-area: item-title;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.item-label-kode {
    grid-area: item-label-kode;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}
.item-input-kode {
    grid-area: item-input-kode;
    grid-column: 3 / 5;
    grid-row: 2 / 3;
}
.item-label-uraian {
    grid-area: item-label-uraian;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}
.item-input-uraian {
    grid-area: item-input-uraian;
    grid-column: 2 / 4;
    grid-row: 3 / 5;
}
.item-label-catatan {
    grid-area: item-label-catatan;
    grid-column: line1 / line2;
    grid-row: r4 / r6;
}
.item-input-catatan {
    grid-area: item-input-catatan;

}

