textarea {
    resize: none;
}
.group-one {
    display: grid;
    grid-template-areas:
    "header"
    "input-1"
    "input-2"
    "input-3"
    "input-4";
    row-gap: 4px;
}
.inputHeader {
    display: grid;
    grid-template-columns: [line1] 10px [line2] 150px [line3] 5px [line4] 270px [line5] 10px;
    grid-template-rows: repeat(1fr);
}
.headerLabel {
    grid-column: 2 / span 3;
    grid-row: 1 / span 2;
    align-self: center;
}
.headerInput {
    grid-column: 4 / 5;
    grid-row: 1 / span 2;
}
.input1 {
    grid-area: input-1;
    display: inline-grid;
}
.input2 {
    grid-area: input-2;
}
.input3 {
    grid-area: input-3;
}
.input4 {
    grid-area: input-4;
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    column-gap: 8px;
}
.group-two {
    display: grid;
    grid-template-columns: 1fr;
}

.item {
    display: grid;
    row-gap: 8px;
    grid-auto-rows: 50px;
    grid-auto-columns: 60px;
}
.item-title {
    grid-column: 1 / 15;
    grid-row: 1 / 2;
}
.item-label-kode {
    grid-column: 1 / 3;
    grid-row: 2 / 3;

}
.item-input-kode {
    grid-column: 3 / 8;
    grid-row: 2 / 3;

}
.item-label-catatan {
    grid-column: 1 / 3;
    grid-row: 3 / 5;
}
.item-input-catatan {
    grid-column: 3 / 8;
    grid-row: 3 / 5;
}
.item-label-uraian {
    grid-column: 8 / 10;
    grid-row: 2 / 3;
}
.item-input-uraian {
    grid-column: 10 / 15;
    grid-row: 2 / 5;
    align-self: start;
}
.button-item {
    grid-column: 1 / 15;
    grid-row: 5 / 6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.button-action {
    width: 100%;
    height: 50px;
}

.blink {
    animation: blinking 2s linear;
}

@keyframes blinking {
    50% { opacity: 0; background-color: rgb(14, 157, 240); }
}
